<header class="blog-header">

  <!-- <hr> -->
  <!-- <ul class="blog-header__nav nav">
    <li role="presentation" class="active"><a href="/blog">Blog</a></li>
    <li role="presentation"><a href="/">About</a></li>
  </ul> -->

  <div class="blog-header__info">
    <!-- <a href="/" class="blog-header__logo">
      <span class="blog-header__logo__wordmark">KA</span>
    </a> -->
    You are reading <a href="/">Kahlil's</a> <a href="/blog">blog</a> on <a href="/">kahlil.info</a>.
  </div>
</header>
  
